<img class="card-img-top rounded-circle" style="min-width:80rem" src ="{{this.imagen}}">
<div class="card-body text-center" style="color:rgb(0, 0, 0)">
    <h3 class="card-text font-weinght-bold"> {{this.name}}</p>
</div>
