<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>404</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
    <br>
    <br><br>
    <h1>404 Error Page</h1>
    <section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
    </section>
    <div class="link-container">
    <a href="/" class="more-link">Visitar Social Research Organization</a>
    </div>
</body>

