<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styleSesion.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body class="views">
    <br />
    <br />
    <div class="contacto">
      <form
        class="text-center border border-light p-5 bg-light"
        action="/contacto"
        method="POST"
      >
        <h1>Contacto</h1>
        <p class="texto">Si necesita más información o quiere dejarnos alguna sugerencia, no lo dude ¡Contacte con nosotros!</p>
        <input
          type="text"
          id="defaultContactFormName"
          class="form-control mb-4"
          placeholder="Asunto"
          name="asunto"
        />
        <div class="form-group">
          <textarea
            class="form-control rounded-0"
            id="exampleFormControlTextarea2"
            rows="3"
            placeholder="Mensaje"
            name="mensaje"
          ></textarea>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>