<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styleSesion.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body">
    <div class="estilo1" width="50%">
        <div class="header">
            <div>Social<span>Research</span>Organization</div>
        </div>
        <div class="descripcion2">
            <br>
            <div>¡Bienvenido {{nombreUsuario}}! Navega por nuestras diferentes ventanas para realizar sus consultas</div>
        </div>
    </div>
    
    <br><br><br>
    <div class="container-fluid cew-9" style="text-align: center;">
        <div class="row">
            <div class="col" >
                <br><br><br>
                <h1 class="h1">Esperanza <span>de</span> vida</h1>
                <h2>Descubre cual es la esperanza de vida mundial, en los diferentes contienetes así como en diversos paises</h2>
                <br> <br>
                <a href="/esperanzaVida" class="btn btn-primary">Esperanza de vida</a>
            </div>
            <div class="col">
                <img src="https://elordenmundial.com/wp-content/uploads/2019/12/Mundo-Sociedad-Salud-Esperanza-de-vida-en-el-mundo.png"
                    alt="random" class="cardImg">
            </div>
        </div>
        <br><br><br><br><br>
    </div>
    <br><br>
    <div class="container-fluid cew-9" style="text-align: center;">
        <div class="row">
            <div class="col">
                <img src="https://img.europapress.es/fotoweb/fotonoticia_20190617204702-1906783339_2000.jpg"
                    alt="find" class="cardImg">
            </div>
            <div class="col">
                <br><br><br>
                <h1 class="h1">Natalidad</h1>
                <h2>Natalidad a lo largo de los años, comparativa entre diferentes paises!</h2>
                <br> <br>
                <a href="/natalidad" class="btn btn-primary">Natalidad</a>
            </div>
        </div>
        <br><br>
    </div>
    <div class="container-fluid cew-9" style="text-align: center;">
        <br>
        <br>
        <h1 class="h1"><span>Contacta</span> con <span>nosotros</span></h1>
        <ol class="textoContact">
            <b>Teléfono:</b> 666666666
            <br>
            <b>Email:</b> raulsr64@gmail.com
            <br>
            <b>Privacidad.</b>
            <br>
            <b>Avisos legales.</b>
            <br>
            <br>
            <a href="/contacto" class="btn btn-primary">Contactenos</a>
        </ol>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>

</html>