<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body class="body">

    <div class="estilo1" width="50%">
        <br>
        <br>
        <br>

        <div class="estilo2">
            <h1><b>Bienvenido a SRO dónde podrás consultar diferentes estadísticas de desarrollo global.</b></h1>
            <br>
            <h2> ¡Realiza consultas personalizadas! </h2>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="container-fluid cew-9" style="text-align: center;">
        <div class="row">
            <div class="col" >
                <br><br><br>
                <h1 class="h1">Descubre nuevos artistas.</h1>
                <h2>Encuentra algunos artistas del panorama internacional de forma aleatoria desde nuestro buscador
                    personalizado</h2>
                    <br> <br>
                    <a href="/randomArtist" class="btn btn-success">Artistas Aleatorios</a>

            </div>
            <div class="col">
                <img src="https://media.minutouno.com/p/7f9c036c446e1caf1b064a6ea3070aa9/adjuntos/150/imagenes/024/051/0024051904/730x0/smart/spotifyjpg.jpg"
                    alt="random" class="cardImg">
            </div>
        </div>
        <br><br><br><br><br>
    </div>

    <br><br>

    <div class="container-fluid cew-9" style="text-align: center;">
        <div class="row">
            <div class="col">
                <img src="https://img.europapress.es/fotoweb/fotonoticia_20201005181442_420.jpg"
                    alt="find" class="cardImg">
            </div>
            <div class="col">
                <br><br><br>
                <h1 class="h1">Busca a tus artistas favoritos</h1>
                <h2>Encuentra toda la información de los artistas que más desees</h2>
                <br><br>
                <form action="/findArtist" class="form-inline" method="GET">
                    <input class="form-control mr-sm-2" name="artist" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <!--<a href="/findArtist" class="btn btn-success">Busca tu artista</a>-->
                </form>
            </div>
        </div>
        <br><br><br><br><br>
    </div>


    <div class="container-fluid cew-9" style="text-align: center;">
        <br>
        <br>
        <br>
       <h1 class="h1">Contacta con nosotros.</h1>
       <ol>
           <b>Teléfono:</b> 666666666
           <br>
           <b>Email:</b> sobrennosotros@gmail.com
           <br>
           <b>Privacidad.</b>
           <br>
           <b>Avisos legales.</b>
           <br>
       </ol>

        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


</body>

</html>