<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bienvenido!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="body"></div>
      <div class="header">
        <div>Social<span>Research</span>Organization</div>
      </div>
      <div class="descripcion2">
        <div>¡Bienvenido! Inicia sesión con su cuenta o unase para obtener los últimos datos!</div>
        
      </div>
      <br>
      <div class="cuadro">
        <form action="/login" method="POST">
          <div class="login">
            <input class="cuadroTexto" type="text" placeholder="email" name="email"><br>
            <input type="password" placeholder="contraseña" name="password"><br>
            <input type="submit" value="Iniciar sesión">
          </div>
        </form>
        <form action="/registro" method="GET">
          <div class="registrarse">
            <input type="submit" value="Registrarse">
          </div>
        </form> 

        {{#if contraseñaIncorrecta}}
          <div class="error">
            <div>La contraseña introducida es incorrecta!</div>
          </div>
        {{/if}} 

        {{#if emailIncorrecto}}
          <div class="error">
            <div>El email  introducido  es incorrecto!</div>
          </div>
        {{/if}} 

        {{#if datosIncompletos}}
          <div class="error">
            <div>Introduce todos los datos requeridos!</div>
          </div>
        {{/if}} 

    </div> 
  </body>
