<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styleSesion.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body class="body">
    <div class="estilo2" width="50%">
        <div class="headerNAt">
            <div>Nata<span>lidad</span></div>
        </div>
        <br><br>
        <div class="descripcion2">
            <br>
            <div>Video comparativo sobre la evolución de las natalidad en diferenes paises del mundo.</div>
            
        </div>
    </div>
    <br>
    <div class="video" >
        <iframe width="900" height="500" src="https://www.youtube.com/embed/GbXVVpfsJJQ"> </iframe>
    </div>
    <div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><p></p></div>
    
</body>