<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Registro!</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>
        <div class="body"></div>
            <div class="header">
                <div>Social<span>Research</span>Organization</div>
            </div>
        <div class="descripcion">
            <div>Complete los siguientes datos y unase!</div>
        </div>          
        <div class="cuadro">
            <form action="/registro" method="POST">
                <div class="login">
                    <input class="cuadroTexto" type="text" placeholder="nombre" name="nombre"><br>
                    <input class="cuadroTexto" type="text2" placeholder="email" name="email"><br>
                    <input type="password" placeholder="contraseña" name="password1"><br>
                    <input type="password" placeholder="repetir contraseña" name="passwordConfirmacion"><br>
                    <input type="submit" value="Registrarse">   
                </div>
            </form>    

            <form action="/" method="GET">
                <div class="volver">
                    <input type="submit" value="Volver">
                </div>
            </form>

            {{#if datosIncompletos}}
                <div class="error">
                    <div>Introduce todos los datos requeridos!</div>
                </div>
            {{/if}} 

            {{#if contrasenasDiferentes}}
                <div class="error">
                    <div>Ambas contraseñas deben coincidir!</div>
                </div>
            {{/if}} 

            {{#if emailYaRegistrado}}
                <div class="error">
                    <div>El email que ha introducido ya existe!</div>
                </div>
            {{/if}} 
        </div> 
    </body>