.body{
  background-color: rgb(0, 0, 0);
  top: 5%;
}

.header{
	position: absolute;
  top: 20%;
	left: 26%;
}

.header div{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
  text-align: center;
}

.header div span{
	color: #5379fa;
}

.headerEsp{
	position: absolute;
  top: 20%;
	left: 33.5%;
}

.headerEsp div{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
  text-align: center;
}

.headerEsp div span{
	color: #5379fa;
}

.headerNAt{
	position: absolute;
  top: 20%;
	left: 40%;
}

.headerNAt div{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
  text-align: center;
}

.headerNAt div span{
	color: #5379fa;
}

.estilo1{
  height: 300px;
	background-image: url(https://images6.alphacoders.com/481/481285.jpg);
	background-size: cover;
  }

  .descripcion2{
    position: absolute;
    top: 30%;
    left: 17%;
  }
  
  .descripcion2 div{
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 200;
  }
  

  .h1{
    color: #5379fa;
  }

  .h1 span{
    color: #ffffff;
  }

  h2,
  h6,
  h3,
  h4 {
    text-align: center;
    color: rgb(214, 214, 214);
  }

  .btn-success {
    float: right !important;
  }

.textoContact{
  color: rgb(214, 214, 214);
}


.views {
  background-image: url(https://images6.alphacoders.com/481/481285.jpg);
  background-position: center center;
  background-size: cover;
}

.estilo2{
  height: 300px;
}

.fotoArtista {
  width: 70%;
  height: 300px;
  display: block;
  margin: auto;
}

.cardEsperanza {
  background-color: rgb(9, 9, 9);
  border-radius: 12px;
  height: 700px;
}

.nombre {
  color: #5379fa;
  font-size: 40px;
}

.genero {
  color: rgb(214, 214, 214);
  font-size: 23px;
}

.generos {
  color: rgb(214, 214, 214);
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 18px;
}

.video{
  position: absolute;
  left: 19%;
}
  /*********/






  .subrayado{
    text-shadow: #4BA734;
  }
  
  .fondo{
    text-align: center;
   background-color: #4BA734;
  }
  
  
  .login{
  
    text-align: center;
  }

  
  .estilo3 {   
    text-align: center;
  }
  
  
  .cardImg {
    height: 400px;
    object-fit: cover;
  }
  
  
  
  
  /**/
  
  .home {
    background-image: url("../images/ppal.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
 
  
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    right: 50%;
  }
  
  .texto {
    text-align: justify;
  }
  
  .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
  }
  
  .text-center.border.border-light.p-5.bg-light {
    border-radius: 12px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  h5 {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

  
  form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }
  
  .bigicon {
    font-size: 35px;
    color: #36a0ff;
  }
  
 
  
  .dropdown-menu {
    border-radius: 12px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
  }
  
  .C_incorrecta {
    margin-left: 8px;
    color: red;
    padding-top: 10px;
  }
  
  .fa-solid {
    margin-left: 8px;
    padding-top: 14px;
    color: red;
  }
  
 
  
  
  
  /* */